<p>This is the task detail</p>

<form (ngSubmit)="Save()" [formGroup]="taskEditForm" #form="ngForm">
    <label for="name">Name: </label>
    <input type="text" placeholder="Enter task name" formControlName="name">
    <br/>
    <div>
        <label for="duration">Duration: </label>
        <input type="text" placeholder="Enter duration" formControlName="duration">
    </div>
    <button style="background-color: blue;">Save</button>
</form>
<a routerLink="/task">
    <button style="background-color: blue;">Back</button>
</a>