<p>This is the task detail</p>

<form (ngSubmit)="save()" [formGroup]="form">
  <!-- Name -->
  <div>
    <label for="name">Name: </label>
    <input type="text" placeholder="Enter task name" formControlName="name" />
  </div>

  <br />

  <!-- Duration -->
  <div>
    <label for="duration">Duration: </label>
    <input
      type="text"
      placeholder="Enter duration"
      formControlName="duration"
    />
  </div>

  <!-- Save -->
  <button style="background-color: blue">Save</button>
</form>

<!-- Back -->
<a routerLink="/task">
  <button style="background-color: yellow">Back</button>
</a>
